[submodule "heater/libraries/Arduino-Temperature-Control-Library"]
	path = heater/libraries/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
